<h1>System Configurations</h1>

<table style='width:800px'>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sys_configurations.each do |sys_configuration| %>
  <tr>

    <%

    value = sys_configuration.config_value.slice(0..10)
    value += '....' if value.length > 10


    %>

    <td style='width:300px'><strong><%= sys_configuration.config_key %></strong></td>
    <td style='width:150px'><%= value  %></td>
    <td style='width:200px' ><em><%= sys_configuration.config_description.slice(0..50) + '....'  %></em></td>
    <td style='width:50px'><%= link_to 'Show', sys_configuration %></td>
    <td style='width:50px'><%= link_to 'Edit', edit_sys_configuration_path(sys_configuration) %></td>
    <td style='width:50px'><%= link_to 'Destroy', sys_configuration,    :data => {:confirm => 'Are you sure?' }   , method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Configuration', new_sys_configuration_path %>
