



<%= form_for(@club, :class => 'nice'  ) do |f| %>
  <% if @club.errors.any? %>
       <div id="error_explanation" class="alert-box error" style='width:475px;'>
      <h4><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h4>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  

	<p>
	  <%= f.label :name %><br>
	  <%= f.text_field :name , :size => 60 %><br>
	</p>
	
  <p>
    Email Distribution List Name:<br>
    <%= f.text_field :domain %><br>
  </p>
	

  
    
  <p>        
    Enable Automatic Emails? &nbsp;&nbsp;&nbsp;&nbsp;
    Yes <%= f.radio_button :email_enabled, "true" %><br/> &nbsp;&nbsp;&nbsp;&nbsp;
    No <%= f.radio_button :email_enabled, "false" %>
  </p>  


  </br>

  <div class="actions" style='font-size:7pt;float:left; '>
     <%= f.submit 'Save', :class => 'button'   %>
  </div>
<% end %>

