<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b><br>
  <%= @club.name %><br>
</p>


<p>
  <b>Club Email Distribution List Name:</b><br>
  <%= @club.domain %><br>
</p>

<p>
  <b>Automatic Emails Enabled?:</b><br>
  <%= @club.email_enabled %><br>
</p>



<%= link_to 'Edit', edit_club_path(@club) %> |
 