<h1>Listing leaders</h1>

<table style='width:700px'>
  <tr>
    
    <th>Title</th>
    <th>Description</th>
    <th colspan='3'></th>
     
  </tr>

<% @leaders.each do |leader| %>
  <tr>
    
    <td style='width:200px'><%= leader.title %></td>
    <td style='width:300px'><%= leader.description.slice(0..100) + '...' %></td>
    <td><%= link_to 'Show', club_leader_path(@club,leader) %></td>
    <td><%= link_to 'Edit', edit_club_leader_path(@club,leader) %></td>
    <td><%= link_to 'Delete', club_leader_path(@club,leader),  :data => {:confirm => 'Are you sure?' }, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Leader', new_club_leader_path(@club) %>
