<h1>Listing Agenda Bottom</h1>

<table>
  <tr>
    <th>Agenda definition</th>
    <th>Body text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agenda_bottoms.each do |agenda_bottom| %>
  <tr>
    <td><%= agenda_bottom.agenda_definition_id %></td>
    <td><%= agenda_bottom.body_text %></td>
    <td><%= link_to 'Show', agenda_bottom %></td>
    <td><%= link_to 'Edit', edit_agenda_bottom_path(agenda_bottom) %></td>
    <td><%= link_to 'Destroy', agenda_bottom,    :data => {:confirm => 'Are you sure?' }    , method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agenda bottom', new_agenda_bottom_path %>
