

<%= form_for([@club,@meeting_type]) do |f| %>
  <% if @meeting_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting_type.errors.count, "error") %> prohibited this Meeting Type from being saved:</h2>

      <ul>
      <% @meeting_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



 
  <label>Meeting Type:</label>  
  <%= f.text_field :description %> 
 
  <label>Default Meeting Time:</label>
  <%= f.text_field :meeting_time  , :class => 'input-text' %><br><br>

 
 
  <div class="actions" style='font-size:7pt;float:left; '>
     <%= f.submit 'Save Meeting Type', :class => 'button'   %>
  </div>

<br/>

<% end %>
