<h2 style='padding-bottom:0px'>Agenda Type:<em> <%= @agenda_definition.name %></em></h2>

<p id="notice"><%= notice %></p>

 
 


<p>
  <strong>Description:</strong>
  <%= @agenda_definition.description %>
</p>

 
Actions you can take to further develop and maintain this agenda:


 <br/><br/>


<ul>
	<li><%= link_to  @agenda_top_link_text, @agenda_top_link %></li>


	<li><%= link_to 'Show/Edit Line Items Section', 
			club_agenda_definition_agenda_line_items_path(@club, @agenda_definition) %></li>


	<li><%= link_to  @agenda_bottom_link_text, @agenda_bottom_link %></li></li>



	<li><%= link_to  "Back To Agenda Definition List", club_agenda_definitions_path(@club,@agenda_definition) %></li>


</ul>

 <br/><br/>
 <br/><br/>
 <br/><br/>
 <br/><br/>
 <br/><br/>
 <br/><br/>
 <br/><br/>
 <br/><br/>

 
 









