<h2 style='padding-bottom:0px'>Agenda Type:<em> <%= @agenda_definition.name %></em></h2>

<p id="notice"><%= notice %></p>

 
 


<p>
  <strong>Description:</strong>
  <%= @agenda_definition.description %>
</p>

 
Actions you can take to further develop and maintain this agenda:


 <br/><br/>


<ul>
	<li><%= link_to  @agenda_top_link_text, @agenda_top_link %></li>


	<li><%= link_to 'Show/Edit Line Items Section', 
			club_agenda_definition_agenda_line_items_path(@club, @agenda_definition) %></li>


	<li><%= link_to  @agenda_bottom_link_text, @agenda_bottom_link %></li></li>



	<li><%= link_to  "Back To Agenda Definition List", club_agenda_definitions_path(@club,@agenda_definition) %></li>


</ul>

 <br/><br/>
 <br/><br/>
 <br/><br/>
 <br/><br/>
 <br/><br/>
 <br/><br/>
 <br/><br/>
 <br/><br/>

 
 




<!--
THANK YOU MONICA!
I love you dad
Awww! I am saving this note!!!
hahaha okay
This is called a "comment" inside of a computer program. I can leave it in here, and it won't get confused when it runs.
That's awesome, well I have to go get sarah to figure out her summer dance classes before mom gets home, bye<3
Wait one second..
Please continue the very good, and much appreciated work of helping mom out a bit around the house.
It's very helpful (and it's the right thing to do.)
lol okay me and sarah are having a harry potter day tho so idk how productive that will be haha 
but she has to go to the dr so I'll do stuff then, plus i have a lot of summer hw
10-20 minutes is all I'm asking for.
okay, well for my summer hw i have to read crime and punishment and the kite runner and write a journal about the characters and quotes
every couple chapters and then i have to teach myself 3 chapters of chemistry and memorize like 5 charts and then do a precalc packet
of stuff I haven't even learned yet
Here's a thought... cut 20 minutes out of Harry Potter day and you can do a bit of work and still have all the time for schoolwork you would have had anyway.
That's true, I just don't want to do too much too early in the summer and forget everyhing by
 time school starts but I don't want to wait til the last minute for everything either
OK, I have to start working on this now.
Ok bye, love you
Me 2 you

-->





