
<h4>Updating Profile...</h4>

<%= form_for @user, :action => 'update_profile' do |f| %>
  <% if @user.errors.any? %>
	    <div id="error_explanation" class="alert-box [error]" style='width:400px'>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		
		<p>
		  Email Address:<br>
		  <%= f.text_field :email %><br>
		</p>

		<p>
		  Old Password:<br>
		  <%= f.password_field :current_password %><br>
		</p>
		<p>
		  New Password:<br>
		  <%= f.password_field :password %><br>
		</p>
		<p>
		  Confirm New Password:<br>
		  <%= f.password_field :password_confirmation %><br>
		</p>
		
	  <div class="actions">
	    <%= f.submit nil, :class => 'button'   %>
	  </div>
		
		
<% end -%>
 