
<h4>Changing Email Address...</h4>

<%= form_for(@user, :url => 'update_email' )  do |f| %>
  <% if @user.errors.any? %>
      <div id="error_explanation" class="alert-box [error]" style='width:400px'>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <p>
      Email Address:<br>
      <%= f.text_field :email %><br>
    </p>

    
    <div class="actions">
      <%= f.submit 'Update Email Address', :class => 'button'   %>
    </div>
    
   <%= link_to "Cancel", club_member_assignments_path(current_club,current_member) %>
    
<% end -%>
