

  
 <style type='text/css'>
 
 .tr {

  border-bottom-color:black;
  border-top-color:black;

 }
 .td {

  text-align:right;

 }

 </style> 



  <div style='width:735px;float:left'>   

    <div id='logox' style='padding-left:20px; ;float:left'>
      <img src=<%= asset_path "logo.jpeg" %> style='width:120px;height:100px'/>
    </div>


    <div   style='margin-left:150px'>

        <strong><%= @agenda.agenda_top.heading_text %></strong><br/><br/>

        <%= @agenda.agenda_top.body_text %>
        <br/><br/>
    </div>
  </div>

  <br/>
  <br/>


  <div id='content' style='width:735px'>   
      


    <table id='table' cellpadding='5' cellspacing='5'>

      <thead>
        <tr><th width='70px'>Time</th><th width='370px'>Role / Agenda Item for  <%= @agenda.meeting_date %></th><th width='130px'>Member</th></tr>
      </thead>

      <tbody>

        <% @agenda.agenda_line_items.each do |agenda_line_item| %>

          <tr>
            <td  valign='top'> <%= agenda_line_item.printed_start_time %> </td>
            <td> <strong><%=agenda_line_item.resolved_line_item_head %> </strong><br/> <%= agenda_line_item.resolved_line_item_text  %> </td>
            <td  valign='top'> <%= agenda_line_item.resolved_person_display_name %> </td>
          </tr>
          <% end %>
        </tbody>       
      </table> 
  </div>

    <div   style='width:700px;margin-left:50px'>


     <% @agenda_bottom = AgendaBottom.where(" agenda_definition_id = ? ",@meeting_agenda_definition.id).first %>
      <% if @agenda_bottom.nil? == false %>

        <h4><%= @agenda.agenda_bottom.heading_text %></h4> 
        <%= @agenda.agenda_bottom.body_text.html_safe %>
        <br/><br/>
      <% end %>  

      <% if @meeting_agenda_definition.show_absent_members == true %>
        
        <h4>Absent Today</h4>
        <ul >
          <% @absent_members = Absence.absent_members(@club.id, @meeting.meeting_date)   
         
           @absent_members.each do |member| %>
            
              <li  > 
                <%= member.full_name if member %>
              </li>
          <% end %>
        </ul>
      <% end %>


    </div>
  </div>




























