 

<div style='width:550px;    text-align:center'>
   
    <div style=' align:center ;background-color:lightgray'>
      <h4  >Defined Role Groups </h4> 
      </div>

  <div style='width:550px'>
        
      <div style='float:right'> 
        <% if session[:logged_in_admin] %>
          <%= link_to 'Create Role Group', new_club_role_group_path(params[:club_id]) %>
        <% end %> 

      </div>  
  </div>

  <br/>
  <br/>



  <table>
    <thead>
    <tr>
      <th>Description</th>
      <th colspan='3' ></th> 
    </tr>
    </thead>

  <tbody>


  <% @role_groups.each do |role_group| %>
    <tr>
      <td><%= role_group.description %></td>
      <td><%= link_to "Update Description", edit_club_role_group_path(@club, role_group) %></td>
      <td><%= link_to "Add/Remove Roles", club_role_group_role_group_associations_path(@club, role_group) %></td>
      <td><%= link_to 'Delete', club_role_group_path(@club,role_group), confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
  </table>

  <br />

</div>








