 
<h4>Viewing Role Group...</h4>
 
<div class='container' >
 
  <br>
  <% if  notice %>
    <div class="alert-box success" >
      <%= notice %> 
    </div>
    
  <% end %>

  <p>
    <strong><%= 'Role Group Description' %>:  </strong> <%=  @role_group.description %><br>
  </p>
  
 
<%= link_to 'Edit', edit_club_role_group_path(@club,@role_group) %> |
<%= link_to 'Back', club_role_groups_path(@club) %>
