<%= content_for :sidebar do %>
  <div class="twelve columns" style='margin-top:60px'>
    



    <h3 class="side-title"><span class="locations">Contact Us</span></h3>
    <div class="side-entry">
      <%= image_tag "comment-triangle.png", :class => "comment-triangle", :alt => "" %>

      <div style='text-align:center;'>
         
         <a style='font-size:15px' href="mailto:info@grpbldr.com">info@grpbldr.com</a> 
      </div>
    </div>
    <h3 class="side-title"><span >What people are saying...</span></h3>
    <div class="side-entry">
      <%= image_tag "comment-triangle.png", :class => "comment-triangle", :alt => "" %>
      <p class="tweet">The meeting-sign feature is a tremendous help to our club.<br /><span class="tweet-date">Joe Meirow, Romeo, MI</span></p>                
      <p class="tweet">Being notified when someone a meeting role has become available has helped keep our agendas full.<br /><span class="tweet-date">Lisa Perazza, Shelby Twp, MI</span></p>
      <p class="tweet">The agenda templating system is amazing!<br /><span class="tweet-date">Dan Leung, Sterling Heights, MI</span></p>
    </div>
    

  </div><!-- end twelve columns -->
<% end %>

 
    <div style='font-size:40pt;margin-top:0px;bottom-margin:50px'>
        <span> GroupBuilder </span>
    </div>
       <%= image_tag "tree_young.png" , :class => "comment-triangle", :alt => "" , :size => "100x60", :style => 'position:absolute; top:00px; left:500px'%> 
         
    <h2 style='font-size:10pt;margin-top:40px ' class="eye-catcher">Don't just 'manage'....Grow!.</h2>  

       
 
      <p style='margin-top:20px;font-size:20px'>
        Software that only "manages" the data of your organization is so 1990's.  GroupBuilder simplifies the "doing" so your club can do more of it.

      </p>
      <div class="row">
        <div class="six columns gray-box">
          <span class="calendar">What can GroupBuilder do to help your organization? Plenty! Click below for the feature-list.</span>
          <a href="#" title="" class="button-custom"><span>View Features</span></a>
        </div>
        <div class="six columns gray-box">
          <span class="meet-peep">Get started today with a 30-day free trial!<br/>&nbsp;<br/>&nbsp; </span>
          <a href="#" title="" class="button-custom"><span>Let's Get Started!</span></a>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <h2 class="hm-article-title">What is GroupBuilder?</h2>
          <div id="hm-article-entry">
            <%= image_tag "comment-triangle.png", :class => "comment-triangle", :alt => "" %>
            <p>GroupBuilder is web-based software that makes your current members happy and helps attract new ones.</p>
             
              </div>
        </div>
      </div>
 
