<!-- container -->
<header style='margin-bottom:2px'>
<!-- <div class="container" id="header"> -->
  

<div style='width:800px;padding-left:20px;padding-top:20px;padding-right:20px;padding-bottom:20px'>
  <div style='  float:left;  '>
    <div style='font-size:20pt;padding-bottom:5px'>GroupBuilder </div> 
    <div style='text-align:center;'>Version <%= Update.current %>  </div>
    
    

  </div>

  <div style='float:left;padding-left:20px'>
  
  </div>


  <div style='; float:right;  ' >


     
    <%= link_to "Change Password", user_edit_password_path(current_user) %>  |   
    <%= link_to "Change Email Address", user_edit_email_path(current_user) %>  |     
    <%= link_to "Log out", log_out_path %> 


  </div> 
  <br/>

  <div style='font-size:7pt;float:right; ' >
      
    <% 
      member = current_member
      member_info = member.first_name + ' ' + member.last_name + " from " + current_club.name 
    %>
    You are logged in as: <%= member_info %>

  </div>

</div>


<hr style="width:830px;height:5px;border:none;background-color:green;color:green" />   
 
</header>
<!-- end container -->
