<!DOCTYPE html>
<html>

  <!-- ***************************************************************** -->
  <!-- HTML HEAD AREA     -->
  <!-- ***************************************************************** -->

  <head> 
     <title>GroupBuilder &copy;</title>

    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33198229-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


  
  </head>




  <!-- ***************************************************************** -->
  <!-- HTML BODY AREA                                                    -->
  <!-- ***************************************************************** -->

  <body  >
    
    
   
    <!-- ***************************************************************** -->
    <!-- If current user is logged in, display user-nav menu area         -->
    <!-- ***************************************************************** -->    
    
   
      <%= render 'layouts/header' %>

        <% @member = current_member %>

        <div class='container' style='width:800px;margin-top:20px; padding-left:15px;padding-right:200px; '>

          <div style='width:130px;float:left;background-color:#63DB93;padding-left:10px;padding-right:10px;border-radius:5px;   '>    
           
            <span style='font-weight:bold'>  Member Functions  </span>
            <br/><br/>



            <div style='font-size:9pt'>

               <div style='font-size:9pt;font-weight:bold'>
                <%= link_to "Sign Up for a Role", signup_for_role_club_member_assignments_path(@club, @member) %>  <br/>    
                
            <hr style="height:2px;border:none;background-color:green;color:green" />
                
                  <%  meeting = @club.next_meeting  %>

                  <%  if meeting.nil? == false %>
                    <% 
                    agenda_definition = AgendaDefinition.find(@club.default_agenda_definition_id)
                    if Agenda.all_required_elements_created_for? agenda_definition %>
                      <%=  link_to "Next Meeting's Agenda", club_meeting_agenda_definition_print_path(@club, meeting, @club.default_agenda_definition_id)  , :target => "_blank" %> <br/> 
                    <% else %>
                      <%=  link_to "Next Meeting's Agenda", club_meeting_agenda_definition_print_path(@club, meeting, @club.default_agenda_definition_id)   %> <br/> 
                    <% end %>

                    <hr style="height:2px;border:none;background-color:green;color:green" />

                    <%=  link_to "Next Meeting's Notes",  club_meeting_print_notes_setup_path(@club, meeting)   %>
                  <%  end %>



 
                 
                </div>

            <hr style="height:2px;border:none;background-color:green;color:green" />


            <%= link_to "Upcoming Activity", club_member_assignments_path(@club, @member) %> <br/>  
            <%= link_to "Previous Activity", past_activity_club_member_assignments_path(@club,@member) %>   <br/>  
            <%= link_to "Notifications", club_member_member_notification_preferences_path(@club,@member) %>   <br/>  
            <%= link_to "Absences", club_member_absences_path(@club,@member) %>  <br/>  

           
           <br/>

            <%= link_to "Meetings", club_meetings_path(@club) %><br>
            <%= link_to "Member Directory", club_members_path(@club) %>  <br/>  
  


            <br/>                
            


             <% if session[:logged_in_admin] %>
               <hr style="height:2px;border:none;background-color:green;color:green" />

              <%= link_to "Administration",  admin_path(@club)  %><br> 


              
             <% end %>
             
            </div> 

            <div>

              <% if current_user_is_super_user? %>
                <hr style="height:2px;border:none;background-color:green;color:green" />
                  <%= link_to "Business Administration", bizadmins_path %><br>
                  <%= link_to "System Administration", sysadmins_path %><br>
                
                <% end %>
            </div> 

            <hr style="height:2px;border:none;background-color:green;color:green" />



          </div>

         <!-- ***************************************************************** -->
         <!-- Yield below... this is where the currently selected view displays -->
         <!-- ***************************************************************** -->

        
        <div class='container' style='width:750;margin-left:150px'  >
          

          <%= yield %>


        </div>

  


     </div>
      
    <%= render 'layouts/footer' %>

  </body>

</html>
