<!DOCTYPE html>
<html>




  <head>
    <title>GroupBuilder</title>
 
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css'>
      <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33198229-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>


  <div style='margin-top:50px;margin-left:50px;float:left;height:100px'> 
      <div style='      float:left' >
         


                 


        <span style='font-size:30pt'>GroupBuilder </span>
        <br/>

       Version <%=   Update.current  %> 


                   
                                                      
                 

              

      </div>

      

      <div class='container' style='padding-top:100px;  '>
        <%= yield %>
      </div>

    <br/><br/><br/><br/><br/><br/>
    Email services by <a target='_blank' href='http://www.sendgrid.com'>SendGrid</a>.
    
    </div>

  </body>
</html>