<!DOCTYPE html>
<html>

  <head>
		
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>


    <title>GroupBuilder &copy; - Release History</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33198229-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

  </head>
  <body>

<header style='margin-bottom:2px'>
<!-- <div class="container" id="header"> -->
  

<div style='width:800px;padding-left:20px;padding-top:20px;padding-right:20px;padding-bottom:20px'>
  <div style='  float:left;  '>
    <div style='font-size:20pt;padding-bottom:5px'>GroupBuilder </div> 
    <div style='text-align:center;'>Version <%=  Update.current %>  </div>
    
    

  </div>

  <div style='float:left;padding-left:20px'>
  
  </div>


  <div style='; float:right;  ' >


     



  </div> 
  <br/>

  <div style='font-size:7pt;float:right; ' >
      
    <% 
      member = current_member
      member_info = member.first_name + ' ' + member.last_name + " from " + current_club.name 
    %>
    You are logged in as: <%= member_info %>

  </div>

</div>


<hr style="width:830px;height:5px;border:none;background-color:green;color:green" />   
 
</header>

        <%= yield %>

        <%= render 'layouts/footer' %>
  </body>
</html>